<div style="padding-bottom: 40px;">
    <mat-toolbar style="background-color: #fff;padding: 20px;">
        <!-- Left side content -->
        <button class="mr-2 cursor-pointer">
          <i class="fa-solid fa-bars text-[#0f172a] text-[21px]"></i>
        </button>
    <!--<img src="../../assets/platforms/b-high-resolution-logo-transparent.png" style="width:20px;margin: 10px;"/> -->        
    <h1 class="text-[15px] uppercase text-[#505f79]">{{selectedValues.companyName | json | slice: 1:-1}}</h1>
      
        
        <span class="flex-grow"></span>
        <button class="pr-5 cursor-pointer" style="border-right: 1px solid #dfe1e6;">
          <i class="fa-regular fa-bell text-[#a5adba] text-[17px] hover:text-[#505f79] duration-200"></i>
        </button>
       
        <button class="pl-5 cursor-pointer">
          <i class="fa-solid fa-gear text-[#a5adba] text-[17px] hover:text-[#505f79] duration-200"></i>
        </button>
      </mat-toolbar>

      
      
</div>
