<div class="px-16 bg-white">
  <div class="header">
    <nav>
      <img
        src="../../assets/blitzbills-high-resolution-logo-transparent (1).png"
      />
      <div class="links">
        <ul>
          <li><a>Home</a></li>
          <li><a>Features</a></li>
          <li><a>Blog</a></li>
          <li><a>Pricing</a></li>
          <li>
            <a
              ><button class="btn" routerLink="/login">
                <span class="icon">
                  <i class="fa-solid fa-user"></i>
                </span>
                <span class="text">LOGIN</span>
              </button></a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="hero">
      <div class="hero-left">
        <h1>BlitzBills - Free Invoice Maker</h1>
        <p>
          Use Invoice Templates to Create Invoices Online <br />
          Download, Print, Email Invoice with Invoice Generator
        </p>
        <div class="inv-btn">
          <a class="fancy" routerLink="/form">
            <span class="top-key"></span>
            <span class="text">Create Invoice</span>
            <span class="bottom-key-1"></span>
            <span class="bottom-key-2"></span>
          </a>
        </div>
      </div>
      <div class="hero-right">
        <img
          src="../../assets/610baf7564c520c68dbb1dec_sales-management-feature.svg"
        />
      </div>
    </div>
  </div>

  <div
    class="flex justify-between items-center mt-10 pb-10 m-24"
    style="border-bottom: 1px solid #e9eaf0"
  >
    <div class="mr-10 whitespace-nowrap"><h1>Our Customers Use</h1></div>
    <div class="hero-logo">
      <img src="../../assets/platforms/580b57fcd9996e24bc43c518.png" />

      <img src="../../assets/platforms/615ed30571a68738e748de81_gsm.png" />
      <img src="../../assets/platforms/pngwing.com.png" />
      <img src="../../assets/platforms/5847e991cef1014c0b5e4826.png" />
    </div>
  </div>

  <div
    class="justify-center items-center w-full text-center"
    
  >
    <h1 class="heading">Features of BlitzBills</h1>

    <div
      class="flex justify-center items-center w-full px-30 pt-16 pb-7 gap-10"
    >
      <div class="w-2/6">
        <img
          src="https://assets-global.website-files.com/6103f89469b8fb6b7732fae6/6107e08017e0ef85658b047e_graph.svg"
          class="feature"
        />
      </div>
      <div class="float-right w-3/6 items-start text-start px-10">
        <h2 class="subheading">Look Professional</h2>
        <p class="pb-8 pt-3 text-[#505f79]">
          With our invoicing software, we offer a straightforward solution to
          enhance your professional image. Select from a variety of templates
          and personalize your invoice design, including colors, fonts, and
          layout, to align with your brand identity. Add your business logo,
          header, and footer for a consistent branded look.
        </p>
        <button>
          <a class="fancy" routerLink="/form">
            <span class="top-key"></span>
            <span class="text">Try For Free</span>
            <span class="bottom-key-1"></span>
            <span class="bottom-key-2"></span>
          </a>
        </button>
      </div>
    </div>

    <div
      class="flex justify-center items-center w-full px-30 pb-24 pt-7 gap-10"
    >
      <div class="float-right w-3/6 items-start text-start px-10">
        <h2 class="subheading">Convenient Sharing Options</h2>
        <p class="pb-8 pt-3 text-[#505f79]">
          With BlitzBills seamless WhatsApp API integration, sending invoices to
          your clients has never been easier – it's just a click away! Not only
          can you send invoices via WhatsApp, but you can also email them
          effortlessly.
        </p>
        <button>
          <a class="fancy" routerLink="/form">
            <span class="top-key"></span>
            <span class="text">Try For Free</span>
            <span class="bottom-key-1"></span>
            <span class="bottom-key-2"></span>
          </a>
        </button>
      </div>
      <div class="w-2/6">
        <img
          src="https://assets-global.website-files.com/6103f89469b8fb6b7732fae6/6103f89469b8fb1d4132fb72_image-advanced-analytics-technology-template-p-500.png"
          class="feature"
        />
      </div>
    </div>
  </div>
<div class="px-20" style="padding: 100px;border-bottom: 1px solid #e9eaf0">
  <div
    class="flex justify-between items-center w-full m-auto"
    style="background-color: #f7f8fa;padding: 50px;"
  >
    <div class="mob-left">
      <h2 class="subheading-1">
        Join Hundreds of Business Owners who are making their Business Process
        Easy and Efficient with BlitzBills.
      </h2>
      <div class="flex gap-5">
        <button class="mob-btn">Get Started For free</button>
        <button class="mob-btn1">Browse Features</button>
      </div>
    </div>
    <div class="mob-imgs">
      <img class="m-1"
        src="https://assets-global.website-files.com/6103f89469b8fb6b7732fae6/6160588fa9c5faf067cc1908_phone-image.svg"
      />
      <img class="m-2"
        src="https://assets-global.website-files.com/6103f89469b8fb6b7732fae6/6103f89469b8fb7bf832fb3f_image-3-cta-technology-template.svg"
      />
       <img class="m-3"
        src="https://assets-global.website-files.com/6103f89469b8fb6b7732fae6/6103f89469b8fb0bc132fb3e_image-2-cta-technology-template.svg"
      />
    </div>
  </div>
</div>
  <div class="flex w-full p-20 m-auto justify-between" style="border-bottom: 1px solid #e9eaf0">
    <div class="">
      <img
        src="../../assets/blitzbills-high-resolution-logo-transparent (1).png"
        style="width: 200px"
      />
    </div>
    <div class="flex gap-4">
      <button class="mob-btn">Get Started</button>
      <button class="mob-btn1">Login</button>
    </div>
  </div>
</div>
